<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916099925180-5niqab1saqj0khpcp4m9dagtp0l5fe6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916099925180-5niqab1saqj0khpcp4m9dagtp0l5fe6r</string>
	<key>API_KEY</key>
	<string>AIzaSyCQnLG7D_5ZxCwH_-V8th5VJ3GKi1NQTJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>916099925180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BardiaNaderi.MusicStreamingPlatform</string>
	<key>PROJECT_ID</key>
	<string>musicstreamingservice-ca217</string>
	<key>STORAGE_BUCKET</key>
	<string>musicstreamingservice-ca217.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916099925180:ios:34a0fae9078f35a92cfcb9</string>
</dict>
</plist>